.button {
  background: #ffac28;
  border-radius: 4px;
  font-family: 'Jost';
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  width: 180px;
  height: 36px;
  border: unset;
  color: #2c2d2e;
}
