.add_form {
  background: #ffffff;
  width: 867px;
  height: 1320px;
  padding-left: 24px;
}

.add_titles {
  padding-top: 37px;
}

.add_title {
  font-family: 'Jost';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #2a2f37;
  opacity: 0.6;
}
