input[type='checkbox'] {
  display: none;
}
label {
  padding-top: 16px;
  padding-left: 24px;
}
label::before {
  content: '';
  display: inline-block;
  width: 24px;
  height: 24px;
  background-color: rgba(42, 47, 55, 0.02);
  border: 1px solid rgba(42, 47, 55, 0.08);
}
input[type='checkbox']:checked + label::before {
  content: '✔';
  color: #4877f2;
  text-align: center;
}
