@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap');
.main {
  width: 1169px;
}

.main_header {
  display: flex;
}

.main_img {
  margin-left: 50px;
}

.main_title {
  padding-top: 108px;
  font-family: 'Jost';
  font-weight: 700;
  font-size: 48px;
  color: #2c2d2e;
}

.main_text {
  font-family: 'Jost';
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #424242;
  opacity: 0.8;
}

.main_button {
  padding-top: 75px;
  display: flex;
  justify-content: space-between;
  width: 950px;
}

.button_yellow {
  cursor: pointer;
  background: #ffac28;
  border-radius: 35px;
  width: 119px;
  height: 40px;
  font-family: 'Jost';
  font-weight: 400;
  font-size: 16px;
  border: unset;
}

.button_blue {
  width: 133px;
  cursor: pointer;
  height: 40px;
  font-family: 'Jost';
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #4877f2;
  border: 1px solid #4877f2;
  border-radius: 35px;
}

.button_white:focus {
  cursor: pointer;
  width: 173px;
  font-family: 'Jost';
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #4877f2;
  border: 1px solid #4877f2;
  border-radius: 35px;
}

.button_white {
  cursor: pointer;
  font-family: 'Jost';
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  font-style: normal;
  border: unset;
  color: #2a2f37;
  background: rgba(237, 237, 238, 0.02);
}

.main_ribbon {
  font-family: 'Jost';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #2c2d2e;
  padding-top: 80px;
  padding-bottom: 40px;
}

.main_dwn {
  display: flex;
  justify-content: center;
  padding: 40px 0 40px 0;
}

.main_download {
  background: #fff;
  background-image: url('../../../assets/img/repeat.png');
  background-repeat: no-repeat;
  background-position-x: 49px;
  padding-left: 25px;
  background-position-y: 16px;
  width: 242px;
  height: 48px;
  font-family: 'Jost';
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #4877f2;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #4877f2;
  border-radius: 4px;
  outline: none;
}
