.btn_yellow {
  background: #ffac28;
  border-radius: 35px;
  font-family: 'Jost';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  width: 119px;
  height: 40px;
  line-height: 24px;
  color: #2c2d2e;
  border: unset;
}
